body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
}

.form-control,
.form-select {
  border-radius: 8px;
}

.btn {
  border-radius: 8px;
}

.alert {
  border-radius: 8px;
  font-weight: 500;
}

textarea {
  resize: none;
}

.card-selector-small {
  background-color: #6c757d;
  border-radius: 6px;
  padding: 4px 8px;
}

.card-radio {
  display: none;
}

.card-label-small {
  cursor: pointer;
  padding: 4px 6px;
  color: white;
  opacity: 0.7;
  transition: all 0.2s ease;
  margin: 0 3px;
}

.card-label-small i {
  font-size: 1.3rem;
}

.card-label-small:hover {
  opacity: 1;
  transform: scale(1.05);
}


.card-radio:checked + .card-label-small {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}


@media (max-width: 768px) {
  .card-selector-small {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card-label-small {
    margin: 2px;
  }
}
